* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Books {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  .container {
    max-width: 400px;

    .inputs {
      input {
        display: block;
        margin-bottom: 20px;
      }
    }
  }
}
